name: Publish

on: 
    release:
        types: [created]

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Install latest nightly
            uses: actions-rs/toolchain@v1
            with:
                toolchain: stable
                override: true
                components: rustfmt, clippy
          - name: publish
            run: |
              cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
